.my_search.jumbotron
{
	padding-top: 15px;
	padding-bottom: 15px;
}

.my_announcement
{
	height: 170px;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	text-align: left;
	position: relative;
	overflow: hidden;
	margin-top:10px;
	margin-bottom:10px;
}

img.my_ann
{
	height: 150px;
	width: 150px;
	margin: 8px;
	border: 1px;
	border-color: gray;
	border-style: dashed;
	padding: 1px;
	float: left;
}

img.my_avatar
{
	height: auto;
	width: 30%;
	margin: 8px;
	border: 1px;
	border-color: gray;
	border-style: dashed;
	padding: 1px;
	float: left;
}

img.my_fullimg
{
	width: 100%;
}

h3.my_ann
{
	text-decoration: underline;
	margin-left: 175px;
	margin-top: 15px;
	white-space: nowrap;
	overflow: hidden;
}

p.my_ann.jumbotron
{
	text-decoration: none;
	font-size: 15px;
	height: 62px;
	overflow: hidden;
	padding: 0px;
}

p.my_ann_phone.jumbotron
{
	text-decoration: none;
	font-size: 15px;
	height: 102px;
	overflow: hidden;
	padding: 0px;
}

div.my_ann_buttons
{
	position: absolute;
	bottom: 10px;
	right: 15px;
}

div.my_author
{
	background-color: white;
	border: 2px;
	border-color: gray;
	border-style: dashed;
	top:0;
	left:0;
	overflow: hidden;
}

div.my_ann_spaces
{
	margin-top:4px;
	margin-bottom:16px;
}

.my_margin
{
	margin:5px;
}

.my_title
{
	text-decoration: underline;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

.my_center_txt
{
	text-align: center;
}

.my_center
{
	text-align:center;
	margin:auto;
}

.my_right
{
	float: right;
}

td.my_cell
{
	width: 50%;
	padding: 10px;
	position: relative;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.my_navigation
{
	width:100%;
}

table.my_navigation
{
	padding:10px;
}



.kloc{
	background-color: orange;
	width: 80px;
	height: 16px;
	display: inline-block;
	margin-bottom: 40px;
	margin-right: -10px;
	border-radius: 15px 15px 15px 15px; 
	position:absolute;
}
.pasek{
	height:20px;
	width:465px;
	top: 400px;
	border: 2px solid black;
	border-radius: 16px 16px 16px 16px;
	margin-left: auto;
    margin-right: auto;
	margin-bottom:5px;
	margin-top:10px;
}
