extends layout.pug

block content
    .col-sm-3.col-md-2
    .container.col-sm-8
      // Main component for a primary marketing message or call to action
      .jumbotron.row
        .col-sm-6.my_ann_spaces
          h2.my_title.my_center_txt Title of announcement
          img.my_fullimg(src='./img/default.jpg')
        .col-sm-6.my_author.my_ann_spaces
          table(width='100%')
            tr
              td
                img.my_avatar(src='./img/avatar.jpg')
                p Author:
                h2 Name and Surname
                p.my_ann address@gmail.com
            tr
              td
                p.my_description
                  | This is my description. I am genius. I am handsome. I am fabulous. And I am the most modest person you've ever seen!
        .my_ann_spaces
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo at lectus sit amet fermentum. Morbi quis erat lacinia sem laoreet hendrerit at vitae odio. Donec dignissim ornare ipsum, eget convallis quam commodo commodo. Curabitur consectetur ante eu eros placerat, eget fringilla odio tempus. Sed imperdiet viverra risus vitae viverra. Curabitur nunc ligula, placerat euismod enim non, tempor tincidunt arcu. Phasellus tempor, erat vel commodo suscipit, tortor nulla malesuada augue, vitae cursus quam urna id lorem. Vivamus accumsan pharetra neque et dictum. Mauris in rhoncus nibh. Donec pharetra dignissim ipsum, a tempor magna lobortis eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam sagittis gravida consectetur. Cras interdum viverra quam, non blandit sem hendrerit eu.
            | Donec at quam vel ex bibendum rutrum eget sed mauris. Etiam vel quam eu mi tempus luctus. Etiam euismod ante scelerisque, fringilla nisl nec, vulputate turpis. Aliquam neque lorem, rhoncus quis interdum sed, lacinia nec nibh. Quisque in nulla at quam feugiat scelerisque. Donec in dapibus mauris. Phasellus rutrum a magna sed ultrices. Phasellus maximus consectetur arcu, a finibus ligula suscipit ac. Sed laoreet luctus ante, at tristique nisi pharetra nec. Etiam fermentum et arcu a vulputate. Duis risus justo, semper eu diam quis, aliquam bibendum est. Suspendisse est nulla, pretium sed ullamcorper vel, mattis eget lorem. Etiam eget eleifend nulla, vel tristique purus. Donec aliquet tortor quis arcu dapibus ultrices. Duis interdum, leo suscipit dignissim iaculis, sem odio consequat est, eu tempor ante augue sed neque. Nam aliquam purus nec diam ornare, et efficitur magna elementum.
            | Cras odio erat, aliquet in turpis ut, mollis pharetra urna. Aliquam massa felis, feugiat id risus ac, tempus porta dolor. Morbi venenatis eu massa nec imperdiet. Cras vel fermentum nulla. Nunc feugiat, ligula et convallis convallis, lorem odio finibus lorem, tincidunt porttitor velit turpis scelerisque erat. Praesent fringilla libero at nulla iaculis fermentum. Donec gravida tempor facilisis. Pellentesque vel neque at dui efficitur dignissim. Ut varius mi ex, ac accumsan nisi aliquet ut. Duis faucibus risus et ligula bibendum bibendum. Proin imperdiet lectus purus, vehicula molestie massa venenatis vel. Maecenas fermentum pretium dapibus. Sed quis lectus euismod urna laoreet convallis pellentesque sed nibh. Quisque consequat, magna id suscipit consectetur, quam nibh auctor nunc, eget sodales erat mi vitae massa. Etiam imperdiet, urna viverra feugiat accumsan, ex augue rhoncus lectus, id posuere leo sapien non dolor.
        table(width='100%')
          tr
            td(width='33%')
            td(width='33%')
            td(width='33%')
              button.btn.btn-danger.my_margin.my_right(type='button') Delete
              a.btn.btn-success.my_margin.my_right(type='button', href='./crud  ') Edit

