doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        //link(rel='icon', href='../../favicon.ico')
        title Announcements
        link(href='./stylesheets/my_css.css', rel='stylesheet')
        // Bootstrap core CSS
        link(href='./stylesheets/bootstrap.min.css', rel='stylesheet')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
        link(href='./stylesheets/ie10-viewport-bug-workaround.css', rel='stylesheet')
        // Custom styles for this template
        link(href='./stylesheets/navbar-fixed-top.css', rel='stylesheet')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
        script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        // Fixed navbar
        block navbar
        // side menu
        .col-sm-3.col-md-2.sidebar.hidden-xs
            h3.my_title Categories:
            ul.nav.nav-sidebar
                li
                    a#all(href='#', onclick='wszystkie()') All
                li
                    a#tenmadzialac(href='#', onclick='moje()') Mine
                li
                    a#totezma(href='#', onclick='niemoje()') Not mine
        .container.visible-xs-block
            .jumbotron.my_search
                .container
                    .col-xs-6
                        a.btn.btn-warning.my_navigation.text-left(type='button', href='./phone_category.html') Category
                    .col-xs-6
                        a.btn.btn-warning.my_navigation.text-right(type='button', href='./phone_search.html') Search
        .container-fluid.col-sm-8.hidden-xs
            .jumbotron.my_search
                table(width='100%')
                    tr
                        td(width='95%')
                            input.form-control(placeholder='Search', type='text')
                        td
                            button.btn.btn-warning.my_margin(type='button', onclick='javascript:$("#animacja").show()') Search
                #animacja.pasek(hidden='')
                    #elem.kloc
        .container.col-sm-8
            // Main component for a primary marketing message or call to action
            #main.jumbotron
                #pierwszy.my_announcement.mine
                    img.my_ann(src='./img/megasushi.jpg')
                    // <div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>
                    h3.my_ann Announcement title
                    p.jumbotron.my_ann
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.
                        | Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis.
                    .my_ann_buttons
                        a.btn.btn-success(type='button', href='./crud.html') Edit
                        a.btn.btn-info(type='button', href='./announcement.html') Read >
                .my_announcement.notmine
                    img.my_ann(src='./img/default.jpg')
                    // <div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>
                    h3.my_ann Another announcement
                    p.jumbotron.my_ann
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.
                        | Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis.
                    .my_ann_buttons
                        a.btn.btn-success.hidden(type='button', href='./crud.html') Edit
                        a.btn.btn-info(type='button', href='./announcement.html') Read >
                .my_announcement.notmine
                    img.my_ann(src='./img/default.jpg')
                    // <div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>
                    h3.my_ann Wow, even third announcement
                    p.jumbotron.my_ann
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.
                        | Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis.
                    .my_ann_buttons
                        a.btn.btn-success.hidden(type='button', href='./crud.html', hidden='') Edit
                        a.btn.btn-info(type='button', href='./announcement.html') Read >
        // /container
        //
            Bootstrap core JavaScript
            ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script.
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
        script(src='./javascripts/bootstrap.min.js')
        script(src='./javascripts/mine.js')
