extends layout.pug

block content
		.col-sm-3.col-md-2
		.container.col-sm-8
			// Main component for a primary marketing message or call to action
			.jumbotron
				h2.my_title Create new announcement
				h4 Title*:
				input#inputTitle.form-control(placeholder="Put title of your announcement here", type="text", required="")
				#errorMessageTitle.alert.alert-danger(style="margin-bottom: 10px;margin-top:10px;", role="alert", hidden="")
					| This title is too short.
				h4 Category*:
				.form-group
					select#sel1.form-control(required="")
						option Buy
						option Sell
						option LF ride
				h4 Localization:
				input#inputLocation.form-control(placeholder="Put some details about your localization", type="text")
				h4 Announcement*:
				textarea#inputAnn.form-control(rows="10", placeholder="Write your announcement", required="")
				#errorMessageAnn.alert.alert-danger(style="margin-bottom: 10px;margin-top:10px;", role="alert", hidden="")
					| Announcement is too short. Put at least 30 characters.
				h4 Image:
				input#inputImg.btn.btn-info.my_margin(type="file", name="pic", accept="image/*")
				.checkbox
					label
						input#inputCheck(type="checkbox", value="", required="")
						| Ofc I've read the terms and conditions. Everyone does that.
				#errorMessageCheck.alert.alert-danger(style="margin-bottom: 10px;margin-top:10px;", role="alert", hidden="")
					| Unfortunately you have to check this, because reasons.
				br
				table(width="100%")
					tr
						td(width="33%")
						td(width="33%")
							.my_center
								button.btn.btn-success.my_margin(type="button", onclick="validate()") Create!
						td(width="33%")
							button.btn.btn-danger.my_margin.my_right(type="button", onclick="javascript:history.back()") Cancel
