extends layout.pug

block content
    form(action='/db?dosth=createdb', method="post")
        button#btnCreate.btn.btn-success(type='submit') Create
    form(action='/db?dosth=deletedb', method="post")
        button#btnDelete.btn.btn-danger(type='submit') Delete