extends layout.pug

block content
        // side menu
        .col-sm-3.col-md-2.sidebar.hidden-xs
            h3.my_title Categories:
            ul.nav.nav-sidebar
                mixin categoryElement(name, url)
                    li
                        a(href=url, onclick='')=name
                +categoryElement("All", '/?category=All')
                +categoryElement("Buy", '/?category=Buy')
                +categoryElement("Sell", '/?category=Sell')
                +categoryElement("LF ride", '/?category=LF ride')
        .container.visible-xs-block
            .jumbotron.my_search
                .container
                    .col-xs-6
                        a.btn.btn-warning.my_navigation.text-left(type='button', href='./phone_category  ') Category
                    .col-xs-6
                        a.btn.btn-warning.my_navigation.text-right(type='button', href='./phone_search  ') Search
        .container-fluid.col-sm-8.hidden-xs
            .jumbotron.my_search
                table(width='100%')
                    tr
                        td(width='95%')
                            input.form-control(placeholder='Search', type='text')
                        td
                            button.btn.btn-warning.my_margin(type='button', onclick='javascript:$("#animacja").show()') Search
                #animacja.pasek(hidden='')
                    #elem.kloc
        .container.col-sm-8
            // Main component for a primary marketing message or call to action
            #main.jumbotron
                
        script(src="/javascripts/index.js")