doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        //link(rel='icon', href='../../favicon.ico')
        title Announcements
        link(href='./stylesheets/my_css.css', rel='stylesheet')
        // Bootstrap core CSS
        link(href='./stylesheets/bootstrap.min.css', rel='stylesheet')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
        link(href='./stylesheets/ie10-viewport-bug-workaround.css', rel='stylesheet')
        // Custom styles for this template
        link(href='./stylesheets/navbar-fixed-top.css', rel='stylesheet')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
        script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    body
        // Fixed navbar
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='./')
                        span.glyphicon.glyphicon-send(aria-hidden='true')
                        |  Announcements
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='./login') Login
                        li
                            a(href='./crud') New Announcement
        block content
        // Placed at the end of the document so the pages load faster
        script.
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
        script(src='./javascripts/bootstrap.min.js')
        script(src='./javascripts/mine.js')
