extends layout.pug

block content
        .col-sm-3.col-md-4
        .container.col-sm-4
            // Main component for a primary marketing message or call to action
            .jumbotron
                - var formClasses = (error ? "has-error" : "")
                form.form-signin(action='/login', method="post", class=formClasses)
                    h2.form-signin-heading.my_center_txt.my_margin Please sign in
                    input#inputEmail.form-control.my_margin(type='email', name="email", value=username, placeholder='Email address', required='', autofocus='')
                    input#inputPassword.form-control.my_margin(type='password', name="password", value=password, placeholder='Password', required='')
                    button#btnLogin.btn.btn-lg.btn-primary.btn-block.my_margin(type='submit') Sign in
                    - if (error)
                        #errorMessage.alert.alert-danger(style='margin-bottom: 25px;', role='alert')
                            strong Wops!
                            |  Sorry, I can't login you with what you've wrote :(
                    p.my_center
                        br
                        | Haven't got an account? 
                        a(href='./register  ') Register
