

mixin announcement(title, imgurl, content, editurl, readurl)
	.my_announcement
		img.my_ann(src=imgurl)
		// <div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>
		h3.my_ann=title
		p.jumbotron.my_ann=content
		.my_ann_buttons
			a.btn.btn-success.hidden(type='button', href=editurl, hidden='') Edit
			a.btn.btn-info(type='button', href=readurl) Read >
