extends layout.pug

block content
        .container
            .jumbotron.my_search.my_center
                table(width='100%')
                    tr
                        td(width='95%')
                            input.form-control(placeholder='Search', type='text')
                        td
                            button.btn.btn-warning.my_margin(type='button') Search
            .jumbotron
                .my_announcement.notmine
                    img.my_ann(src='./img/default.jpg')
                    // <div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>
                    h3.my_ann Title
                    p.jumbotron.my_ann
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.
                        | Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis.
                    .my_ann_buttons
                        a.btn.btn-success.hidden(type='button', href='./crud  ') Edit
                        a.btn.btn-info(type='button', href='./announcement  ') Read >
                .my_announcement.notmine
                    img.my_ann(src='./img/default.jpg')
                    // <div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>
                    h3.my_ann Sth else
                    p.jumbotron.my_ann
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.
                        | Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis.
                    .my_ann_buttons
                        a.btn.btn-success.hidden(type='button', href='./crud  ', hidden='') Edit
                        a.btn.btn-info(type='button', href='./announcement  ') Read >
