extends layout.pug

block content
        .container
            .sidebar.my_center
                h3.my_title Choose category:
                ul.nav.nav-sidebar
                    li
                        a(href='#') Landscape
                    li
                        a(href='#') Some
                    li
                        a(href='#') Simple
                    li
                        a(href='#') Categories
                    li
                        a(href='#') Tralalala

