extends layout.pug

block content
        .col-sm-3.col-md-4
        .container.col-sm-4
            // Main component for a primary marketing message or call to action
            .jumbotron
                form
                    h2.form-signin-heading.my_center_txt.my_margin.my_title Please fill in the form
                    h4 New login:
                    input#inputLogin.form-control.my_margin(type='text', placeholder='Login', required='', autofocus='')
                    h4 Your email address:
                    input#inputEmail.form-control.my_margin(type='email', placeholder='Email', required='')
                    h4 Confirm your email:
                    input#inputEmailConfirm.form-control.my_margin(type='email', placeholder='Confirm email', required='')
                    h4 Password:
                    input#inputPassword.form-control.my_margin(type='password', placeholder='Password', required='')
                    .checkbox
                        label
                            input(type='checkbox', value='', required='')
                            | Ofc I've read the terms and conditions. Everyone does that.
                    button.btn.btn-lg.btn-primary.btn-block.my_margin(type='submit') Register

