extends layout.pug

block content
        .col-sm-3.col-md-2
        .container.col-sm-8
            // Main component for a primary marketing message or call to action
            .jumbotron
                h3.my_title Your note:
                .my_author.my_ann_spaces
                    table(width='100%')
                        tr
                            td
                                img.my_avatar(src='./img/avatar.jpg')
                                p Author:
                                h2 Name and Surname
                                p.my_ann address@gmail.com
                        tr
                            td
                                p.my_description
                                    | This is my description. I am genius. I am handsome. I am fabulous. And I am the most modest person you've ever seen!
                .my_center
                    button.btn.btn-info.my_margin(type='button', onclick='javascript:$("#successMsg").hide();$("#edycjaProfilu").show();') I want to edit my note
                #edycjaProfilu(hidden='')
                    h4 Name and surname or nickname:
                    input#inputName.form-control(placeholder='Put your name and surname or nickname here', type='text', required='')
                    #errorMessageName.alert.alert-danger(style='margin-bottom: 10px;margin-top:10px;', role='alert', hidden='')
                        | Your name/nickname is too short.
                    h4 Description:
                    textarea#inputDescription.form-control(rows='10', placeholder='Describe yourself')
                    .my_center
                        button.btn.btn-success.my_margin(type='button', onclick='validateProfile()') Save
                #successMsg.alert.alert-success(style='margin-bottom: 10px;margin-top:10px;', hidden='')
                    | Profile successfully edited.

