<div class="my_announcement" id="pierwszy">
			<img class="my_ann" src="./img/megasushi.jpg" />
			<!--<div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>-->
			<h3 class="my_ann">Announcement title</h3>
			<p class="jumbotron my_ann"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.

Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis. </p>
			<div class="my_ann_buttons"><a class="btn btn-success" type="button" href="./crud.html">Edit</a>
			<a class="btn btn-info" type="button" href="./announcement.html">Read ></a></div>
		</div>
		<div class="my_announcement">
			<img class="my_ann" src="./img/default.jpg" />
			<!--<div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>-->
			<h3 class="my_ann">Another announcement</h3>
			<p class="jumbotron my_ann"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.

Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis. </p>
			<div class="my_ann_buttons"><a class="btn btn-success hidden" type="button" href="./crud.html">Edit</a>
			<a class="btn btn-info" type="button" href="./announcement.html">Read ></a></div>
		</div>
		<div class="my_announcement">
			<img class="my_ann" src="./img/default.jpg" />
			<!--<div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>-->
			<h3 class="my_ann">Wow, even third announcement</h3>
			<p class="jumbotron my_ann"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.

Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis. </p>
			<div class="my_ann_buttons"><a class="btn btn-success hidden" type="button" href="./crud.html" hidden>Edit</a>
			<a class="btn btn-info" type="button" href="./announcement.html">Read ></a></div>
		</div>